nav{
    background-color: white;
    color: rgb(4, 69, 167);
    border-radius: 0.9rem;
    padding: 0.6%;
}
.main-nav{
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    background-color: #b8c2d2;
    margin-right: 0.7rem;
}
.main-nav__item a:hover{
    color: #000205;
}
h1{
    font-size: 2rem;
    color: rgb(143, 188, 180);
    background: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.4%;
    text-align: center;
    border-radius: 0.7rem;
}
.fraseInicio{
    color: rgb(205, 221, 255);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(0, 0, 0, 0.911);
    padding: 1%;
    border-radius: 0.4rem;
}
body{
    background: lightgray;
}
h2{
    font-size: 1.5rem;
    color: rgb(0, 134, 139);
    background: rgba(237, 239, 241, 0.69);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0.5%;
    border-radius: 0.5rem;
}
h3{
    font-size: 1.3rem;
    color: rgb(0, 21, 139);
    background: rgba(238, 235, 235, 0.842);
    padding: 1%;
    border-radius: 0.3rem;
}
p{
    font-family: 'Times New Roman', Times, serif;
}

h4{
    color: #334053;
    background-color: rgb(224, 236, 236);
    padding: 0.5%;
    border-radius: 0.2rem;
}

footer{
    color: grey;
}
.titleAspectos{
    font-size: 2rem;
}